section {
    padding-top: 60px;
    height: 100%;

    .container {
        height: 100%;

        .left-col {
            flex: 1 0 360px;
            max-width: 360px;
            height: 100%;
            overflow: scroll;
            border-right: 1px solid var(--border-color);
            border-left: 1px solid var(--border-color);
            padding: 0 10px 20px;

            button {
                display: block;
                margin: 20px auto auto;
            }
        }

        .main-col {
            flex: 1;
            min-width: 0;
        }
    }
}


@media all and (max-width: 767px) {
    section {
        .container {
            .left-col {
                flex: 1 0 100%;
                max-width: 100%;

                &.movie-selected {
                    display: none;
                }
            }
        }
    }
}
